.tall-block {
    min-height: 1000px;
    background: #cccccc;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

.tall-block p {
    font-size: 1.75em;
    font-family: "Comic Sans MS", "Comic Sans";
}
